{% extends 'layout.html' %}

{% block body %}
	<br>
	<h1>Dashboard</h1>

	<h4>Hi<small> {{session.username}}, </small></h4>
	<br>

	<a class="btn btn-info" href="/add_article">Add Note</a>
	&nbsp;&nbsp;
	<a href="http://127.0.0.1:8050/" class="btn btn-info">Stock Movement</a>
	&nbsp;&nbsp;
	<a href="#" class="btn btn-info">tweets</a>
	&nbsp;&nbsp;
	<a href="#" class="btn btn-info">Live twitter</a>
	&nbsp;&nbsp;
	<a href="#" class="btn btn-info">Sentiment Analysis</a>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="#" class="btn btn pull-right btn-primary btn-lg active ">Final Prediction</a>
	<hr>
	<br>
	<!-- start feedwind code --> <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" data-fw-param="68604/"></script> <!-- end feedwind code -->

{% endblock %}

<button type="button" class="btn btn-info active">Active Info Button</button>