{% extends 'layout.html' %}


{% block body %}

<br>
<br>
	<div class="jumbotron text-center">
		{% if session.logged_in == NULL %}
			<h1> Welcome to AI Stock Predictor</h1>
		{% else %}
			<h1> Hi {{session.username}}, this is what we do!</h1>
		{% endif %}

		<br>
		<p> <h4>This APP is an Artificial Intelligence tool that will produce predictions for your stock market investments. Historical data based; LSTM Recurrent neural network prediction and what people are talking about the stock right now on twitter: will be used to generate the best possible prediction for you. Because of this present and past data based prediction you will be able to make predictions up to 1 Year ahead of time.... </h4><br></p>

		{% if session.logged_in == NULL %}

			<a href="/login" class="btn btn-outline-success btn-lg">Log in</a>&nbsp;&nbsp;&nbsp;
			<a href="/register" class="btn btn-outline-primary btn-lg">Sign up</a>

		{% else %}

			<a href="/dashboard" class="btn btn-outline-primary btn-lg"> {{session.username}}, Let's go to your Dashboard</a>


		{% endif %}
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>




{% endblock %}